     ,a    ,n    	o    ,n    ,     
     ,u    ,*    	w    ,u    ,*     
     ,i    ,n    	j    ,i    ,n     
     ,e    ,m    	     ,aai  ,      
     ,e    ,     	     ,aai  ,      
     ,o    ,     	     ,ou   ,      
s    ,     ,     	s    ,i    ,     
z    ,     ,     	s    ,i    ,     
l    ,     ,     	     ,     ,     
t    ,     ,     	     ,     ,     
k    ,     ,     	h    ,a    ,k    
ck   ,     ,     	h    ,a    ,k    
g    ,     ,     	g    ,aa   ,k    
f    ,     ,     	f    ,u    ,     
v    ,     ,     	f    ,u    ,     
ph   ,     ,     	f    ,u    ,     
d    ,     ,     	d    ,a    ,k    
hn   ,     ,     	h    ,o    ,n    
*    ,er   ,     	*    ,aa   ,     
m    ,e    ,nt   	m    ,a    ,n    
m    ,o    ,n    	m    ,a    ,n    
d    ,o    ,n    	d    ,eo   ,n    
t    ,o    ,n    	d    ,eo   ,n    
t    ,a    ,     	d    ,aai  ,     
c    ,o    ,n    	h    ,o    ,ng   
*    ,u    ,n    	*    ,u    ,ng   
s    ,o    ,n    	s    ,eo   ,n    
*    ,o    ,n    	*    ,eo   ,n    
h    ,a    ,m    	h    ,o    ,n    
c    ,o    ,m    	k    ,a    ,m    
*    ,o    ,m    	*    ,eo   ,n    
c    ,ar   ,     	k    ,aa   ,     
ch   ,ar   ,     	c    ,aa   ,     
n    ,ar   ,     	n    ,aa   ,p    
h    ,e    ,     	h    ,oi   ,     
l    ,e    ,     	l    ,ei   ,     
r    ,i    ,     	l    ,ei   ,     
r    ,e    ,     	l    ,ei   ,     
r    ,y    ,     	l    ,ei   ,     
l    ,y    ,     	l    ,ei   ,     
l    ,ie   ,     	l    ,ei   ,     
k    ,y    ,     	k    ,ei   ,     
k    ,ie   ,     	k    ,ei   ,     
k    ,i    ,     	k    ,ei   ,     
n    ,y    ,     	n    ,ei   ,     
n    ,ie   ,     	n    ,ei   ,     
n    ,i    ,     	n    ,ei   ,     
n    ,e    ,     	n    ,ei   ,     
b    ,y    ,     	b    ,ei   ,     
b    ,i    ,     	b    ,ei   ,     
w    ,i    ,     	w    ,ai   ,     
w    ,e    ,     	w    ,ai   ,     
wh   ,i    ,     	w    ,ai   ,     
l    ,a    ,     	l    ,aai  ,     
r    ,a    ,     	l    ,aai  ,     
l    ,i    ,n    	l    ,a    ,m    
r    ,i    ,n    	l    ,a    ,m    
l    ,ee   ,n    	l    ,a    ,m    
r    ,ee   ,n    	l    ,a    ,m    
l    ,e    ,n    	l    ,eo   ,n    
m    ,i    ,     	m    ,ai   ,     
s    ,i    ,     	s    ,ai   ,     
x    ,i    ,     	s    ,ai   ,     
c    ,i    ,     	s    ,ai   ,     
c    ,o    ,     	g    ,ou   ,     
g    ,o    ,     	g    ,ou   ,     
l    ,o    ,     	l    ,ou   ,     
p    ,o    ,     	p    ,ou   ,     
c    ,e    ,     	s    ,i    ,     
l    ,a    ,n    	l    ,aa   ,n    
*    ,a    ,n    	*    ,e    ,n    
r    ,u    ,     	l    ,ou   ,     
l    ,u    ,     	l    ,ou   ,     
t    ,i    ,n    	d    ,i    ,ng   
*    ,i    ,ng   	*    ,i    ,ng   
d    ,i    ,     	d    ,i    ,k    
b    ,i    ,n    	b    ,a    ,n    
b    ,e    ,     	b    ,ui   ,     
b    ,e    ,l    	b    ,ui   ,     
b    ,a    ,l    	b    ,o    ,     
b    ,ei   ,     	b    ,ui   ,     
r    ,o    ,t    	l    ,o    ,k    
r    ,o    ,c    	l    ,o    ,k    
r    ,o    ,     	l    ,o    ,     
n    ,or   ,     	n    ,o    ,k    
n    ,o    ,     	n    ,o    ,k    
n    ,o    ,t    	n    ,o    ,k    
p    ,e    ,     	b    ,ei   ,     
f    ,or   ,     	f    ,u    ,k    
t    ,i    ,     	d    ,ai   ,     
d    ,y    ,     	d    ,ai   ,     
b    ,u    ,     	b    ,ou   ,     
h    ,a    ,n    	h    ,o    ,n    
d    ,e    ,     	d    ,a    ,k    
d    ,e    ,l    	d    ,a    ,k    
s    ,i    ,n    	s    ,a    ,n    
x    ,i    ,n    	s    ,a    ,n    
g    ,i    ,n    	z    ,i    ,n    
t    ,e    ,     	d    ,a    ,k    
d    ,e    ,     	d    ,a    ,k    
m    ,u    ,s    	m    ,u    ,k    	s    ,i    ,     
s    ,e    ,     	c    ,oi   ,     
v    ,a    ,     	ng   ,aa   ,     
j    ,a    ,     	ng   ,aa   ,     
j    ,o    ,     	j    ,oe   ,k    
b    ,e    ,th   	b    ,aa   ,k    
v    ,i    ,     	w    ,ai   ,     
v    ,i    ,c    	w    ,ai   ,     
g    ,e    ,     	j    ,a    ,t    
*    ,a    ,lk   	*    ,o    ,k    
*    ,i    ,gh   	*    ,aai  ,     
*    ,i    ,ght  	*    ,ai   ,     
*    ,i    ,     	*    ,aai  ,     
*    ,u    ,     	*    ,iu   ,     
*    ,ue   ,     	*    ,iu   ,     
# Complex vowels
*    ,ace  ,     	*    ,eoi  ,     	s    ,i    ,     
*    ,ake  ,     	*    ,i    ,k    
*    ,aine ,     	*    ,aa   ,n    
*    ,ale  ,     	*    ,aa   ,k    
*    ,ate  ,     	*    ,i    ,k    
*    ,ete  ,     	*    ,ei   ,     	d    ,a    ,k    
*    ,ide  ,     	*    ,aai  ,     
*    ,ike  ,     	*    ,a    ,k    	h    ,a    ,k    
*    ,ine  ,     	*    ,i    ,ng   
*    ,one  ,     	*    ,u    ,ng   
*    ,ube  ,     	*    ,ou   ,     
